<p style="color: green"><%= notice %></p>

<h2>Public Recipes</h2>

<div>
  <% @public_recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe) do %>
      <div>
        <h3><%= recipe.name %></h3>
        <p>By: <%= recipe.user.name %></p>
        <p>Total food items:</p>
        <p>Total price: $</p>
      </div>
    <% end %>
  <% end %>
</div>
