/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: rgb(21, 73, 122);
  padding: 20px 30px;
  font-size: 18px;
  font-weight: bold;
  width: 60vw;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #000;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #dbdbdb;
}

.logo {
  font-size: 24px;
  color: rgb(124, 202, 124);
}

h2 {
  margin: 0;
  font-size: 28px;
}

p {
  font-size: 18px;
}

.toggle {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border: 0;
  background-color: #fff;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #52b93d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #52b93d;
}

input::checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.btn {
  background-color: #fff;
  border: 2px solid #000;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.8);
}

.flex-btn {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  margin-top: 30px;
}

.recipe {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
